<!DOCTYPE HTML>
<html ng-app="cesApp" lang="en" class="hau-background">
<head>
  <title>CES</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap-theme.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/vendor/metisMenu.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/vendor/sb-admin-2.css"/>
  <link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/ces.css"/>
</head>
<body ng-controller="MainCtrl">

  <div ng-view></div>

<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vendor/angular.min.js"></script>
<script type="text/javascript" src="/js/vendor/angular-animate.min.js"></script>
<script type="text/javascript" src="/js/vendor/angular-touch.min.js"></script>
<script type="text/javascript" src="/js/vendor/angular-route.min.js"></script>
<script type="text/javascript" src="/js/vendor/ui-bootstrap-tpls-0.13.1-SNAPSHOT.min.js"></script>
<script type="text/javascript" src="/js/vendor/satellizer.min.js"></script>
<script type="text/javascript" src="/js/vendor/ipsum.min.js"></script>
<script type="text/javascript" src="/js/vendor/metisMenu.min.js"></script>
<script type="text/javascript" src="/js/vendor/sb-admin-2.js"></script>
<script type="text/javascript" src="/js/cesApp.js"></script>

</body>
</html>